* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: #ffffff;
  color: #1a1a1a;
}

/* NAVBAR */
.navbar {
  background: linear-gradient(90deg, #2f5bea, #3c7be5);
  padding: 15px 0;
}

.nav-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 25px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar a.active {
  border-bottom: 2px solid white;
}

/* HERO */
.hero {
  position: relative;
  background: url("images/hero-bg.jpg") center/cover no-repeat;
  height: 30vh; /*70vh;-> 30vh*/
  display: flex;
  align-items: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.hero-content {
  position: relative;
  max-width: 1100px;
  z-index: 2;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  color: white;
}

.profile-pic {
  width: 180px;
  border-radius: 50%;
  border: 4px solid white;
}

.hero-text h1 {
  font-size: 42px;
}

.subtitle {
  margin: 10px 0 20px;
  font-size: 18px;
}

.hero-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* BUTTON */
.btn {
  background: #2f5bea;
  color: white;
  padding: 12px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
}

/* SOCIAL */
.social-icons a {
  background: #2f5bea;
  color: white;
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  font-size: 14px;
}

/* SECTIONS */
.section {
  padding: 80px 20px;
  text-align: center;
}

.section.light {
  background: #f4f6fb;
}

.center-text {
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}

/* CARDS */
.card-grid {
  max-width: 1100px;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card,
.project-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.project-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* CONTACT */
.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* FOOTER */
footer {
  padding: 25px;
  text-align: center;
  background: #eef1f8;
  font-size: 14px;
}
